@font-face {
    font-family: productSans;
    src: url(./font/ProductSans-Regular.ttf);
}

*
{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    font-family: productSans;
}
  
.box
{
    border-radius: 1rem;
    flex:1;
    height: 20rem;
    width: 3rem;
}

button
{
    background-color: #1a73e8;
    border: none;
    border-radius: 1px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0.25px;
    padding: 13px 22px;   
    transition: all 0.3s ease 0s;
}

button:hover
{
    background-color: rgb(17, 73, 146);
}

.closebtn .logo
{
    cursor: pointer;
    height: auto;
    margin-top: 1%;
    padding: 1%;
    width: 40%;
}

.container-1
{
    display:flex;
    margin:4rem 0;
}
  
.container-1 .content
{
    border: none;
    padding: 2%;
}

.container-1 div
{
    border:1px #ccc solid;
    padding:10px;
}

.cta button
{
    background-color: rgb(255, 255, 255);
    color: #1a73e8;
}

.cta button:hover
{
    background-color: rgb(219,219,226);
}

footer a
{
    color: black;
    text-decoration: none;
}

.ft-legal
{
    display: flex;
    flex-wrap: wrap;
    font-family: productSans;
    margin: 0 0 0 1.4rem;
    padding: 2rem 1rem;
    width: auto;
}

.ft-legal-list
{
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    width: 100%;
}

.ft-legal-logo
{
    flex: 1;
}

.ft-legal-list li
{
    margin: 0.125rem 0.8rem;
    white-space: wrap;
}

.ft-legal-list1 
{
    flex: 1;
    flex-wrap: wrap;
}

.ft-main 
{
    display: flex;
    flex-wrap: wrap;
    font-family: productSans;
    justify-content: right;
    margin-left: 0.3rem;   
    padding: 0.8rem 0rem;
}

.ft-main-item
{
    min-width: 12.5rem;
    padding: 1rem 1rem;
}

.ft-main-item a
{
    color: #5f6368;
}

.ft-main-item li
{
    margin-left: 0rem;
    padding: 0.7rem 0rem;
}

.ft-main ul
{
    font-size: 18px;
    padding: 0.7rem 0.1rem 0rem 0.7rem;
}

.ft-social-list 
{
    display: flex;
    justify-content: right;
    margin-left: 1rem;
    padding: 1.25rem 0 0 0;    
}

.ft-social-list li 
{
    font-family: productSans;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1rem;
}

.ft-title
{
    color: black;
    padding: 1rem 0rem;
}

.hamburger
{
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
}

.hd-text
{
    align-items: flex-start;
    font-family: productSans;
    font-weight: 400;
}

.hd-text a
{
    color: #5f6368;
    font-size: 1.313rem;
}

#header1
{
    align-items:center;
    display:flex;
}

.header2
{
    align-items:center;
    display: flex;
    justify-content: space-between;
    padding: 1px 1%;
}

.header2 li,a
{
    font-family: productSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.header3
{
    margin : 0% 13.5%;
    padding: 0  4px;
}


#heading
{
    letter-spacing: 0.25px;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
}

.hr1
{
    border-top: 1px solid rgb(233, 226, 226);
}

#hr3
{
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    height: 8px;
}

#hr4
{
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    display: none;
    height: 8px;
    visibility: hidden;
}

html 
{
    scroll-behavior: smooth;
}

#imageContainer
{
    align-items: flex-end;
    border: none;
    display: flex;
    height: 7rem;
    margin-left: 1rem;
}

li 
{
    margin-left: 1rem;
}

.logo
{
    cursor: pointer;
    display: block;
    height: 80%;
    margin-top: 0.5rem;
    padding: 1% 0.5% 1% 2%;
    width: 5rem;
} 

.logo1
{
    height: auto;
    margin: 0 0 0 0.5%;
    width: 90%;
}

main 
{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 100em;
    width: 100%;
}
 
main > nav 
{
    align-self: start;
    position: sticky;
    top: 4rem;
}


.nav_links
{
    cursor: pointer;
    font-family: productSans;
    list-style: none;
    padding-inline-start: 0;
}

.nav_links li
{
    display: inline-block;
    margin-left: 5px; 
    padding: 25px 10px;
}

.nav_links li a
{
    color: #5f6368;
    transition: color 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: black;
}


.openbtn:hover 
{
    background-color:#444;
}

.section-main
{
    margin: 0 0 0 2rem;
    order: 2;
}

.section-main h1
{
    color: rgb(65,65,65);
    font-family: productSans;
    font-size:4rem;
    font-weight: lighter;
}  

.section-main h2
{
    font-size: 2rem;
    font-weight: 200;
}

.section-nav 
{
    border-left: 1px solid #efefef;
    margin-top: 7rem;
    order: 1;
    padding-left: 0;
    width: 25rem;
}

.section-nav a 
{
    color: #5f6368;
    display: block;
    padding: 1.2rem;
    text-decoration: none;
    transition: all 50ms ease-in-out;
}

.section-nav a:hover,
.section-nav a:focus 
{
    background-color: #fff;
    color: #1a73e8;
}

.section-nav li.active > a 
{
    color: #1a73e8;
    font-weight: 500;
}

.sidepanel
{
    background-color: rgb(255, 255, 255);
    height: 250px;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}
  
.sidepanel a 
{
    color: #818181;
    display: block;
    font-size: 14px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    transition: 0.3s;
}
  
.sidepanel a:hover
{
    color: black;
}
  
.sidepanel .closebtn
{
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 0;
}

.sub_nav
{
    display: none;
    visibility: hidden;
}

ul 
{
    list-style: none;
    padding-left: 0;
}

ul, ol 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Media Queries */

@media (max-width: 425px){
    .hd-text{
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1197px){
   .header2
    {
        display: none;
        visibility: hidden;
    }
    .header3
    {
        display: none;
        visibility: hidden;
    }
    #heading
    {
        margin: 4rem 5rem;
        padding: 0;
        text-align: center;
    }
    .hr1
    {
        display: none;
        visibility: hidden;
    }
    #hr3
    {
        display: none;
        visibility: hidden;
    }
    #hr4
    {
        display: block;
        visibility: visible;
    }
    .section-main h1
    {
        font-size: 2.3rem;
    }  
    .section-nav
    {
        display: none;
        visibility: hidden;
    }
}


 @media (min-width: 1196px){
    .hamburger{
        display: none !important;
        visibility: hidden;
    }

    .hr1{
        display: block;
        visibility: visible;
    }

}
